* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
  font-family: helvetica;
}

.menu {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cons:hover, .forn:hover, .user:hover, .serv:hover, .finan:hover, .listarCons:hover, .listarForn:hover {
  filter: drop-shadow(2px 4px 6px black);
}

.active {
  filter: drop-shadow(2px 4px 6px black);
}

.cons, .forn, .user, .serv, .finan, .listarCons, .listarForn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 65px;
  height: 65px;
  margin: 5px;
}

.menuA {
  font-weight: normal;
  margin-right: 10px;
  margin-top: 0;
  color: white;
  width: 103px;
  cursor: pointer;
}

.cons {
  background: url(https://www.iconsdb.com/icons/preview/color/9A32CD/manager-xxl.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 2px 2px black;
}

.forn {
  background: url(https://www.iconsdb.com/icons/preview/color/9A32CD/workers-xxl.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 2px 2px black;
}

.user {
  background: url(https://www.iconsdb.com/icons/preview/color/9A32CD/conference-call-xxl.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 2px 2px black;
}

.serv {
  background: url(https://www.iconsdb.com/icons/preview/color/9A32CD/services-xxl.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 2px 2px black;
}

.finan {
  background: url(https://www.iconsdb.com/icons/preview/color/9A32CD/money-bag-xxl.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 2px 2px black;
}

.listarCons {
  background: url(https://www.iconsdb.com/icons/preview/color/9A32CD/view-details-xxl.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 2px 2px black;
}

.listarForn {
  background: url(https://www.iconsdb.com/icons/preview/color/9A32CD/list-ingredients-xxl.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 2px 2px black;
}

a {
  display: block;
  color: #ad5482;
  text-decoration: none;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}

form h1 {
  padding-left: 10px;
  color: white;
  background: #63B8FF;
}

.module {
  margin: auto;
  width: 450px;
}

.module ul {
  list-style-type: none;
  margin: 0;
}

.textbox {
  height: 30px;
  width: 100%;
  border-radius: 3px;
  border: rgba(0, 0, 0, .3) 2px solid;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
}

.textbox:focus {
  outline: none;
  border: rgba(24, 149, 215, 1) 2px solid;
  color: rgba(24, 149, 215, 1);
}

.button {
  margin-top: 30px;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: rgba(0, 0, 0, .3) 0px solid;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  background: #63B8FF;
  color: #FFF;
  font-weight: bold;
  font-size: 20pt;
  transition: ease-in-out .4s;
  cursor: pointer;
}

.button:hover {
  background: hsl(207, 83%, 20%);
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */

.close, .close2 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2:hover, .close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #63B8FF;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  padding: 2px 16px;
}

.consumidor {
  margin-top: 0;
  color: #63B8FF;
  font-size: 20px;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fornecedor {
  margin-top: 0;
  color: #63B8FF;
  font-size: 20px;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.fornecedor span {
  font-size: 15px;
  color: lightgray;
}